/* Font */
@import url("https://fonts.cdnfonts.com/css/uni-neue");

body,
#root,
label {
  font-family: Uni Neue !important;
}

/* Colors & BG */
.color-custom {
  color: #6395d7 !important;
}

.bg-custom {
  background-color: #6395d7;
}

/* Button */
.btn-custom {
  color: #ffffff !important;
  background: #6395d7 !important;
}

.btn-custom:hover {
  color: #6395d7 !important;
  background: #ffffff !important;
  border: 1px solid #6395d7 !important;
}

/* Sidebar */
.sidebar-title div,
.sidebar-title div > a,
.sidebar-menu a,
.sidebar-menu a::before {
  color: #ffffff !important;
}

.sidebar-menu a:hover::before {
  border-bottom: 2px solid #ffffff;
}

.bg-custom-sidebar {
  background-color: #6395d7 !important;
}